  <div class="row-fluid">
    <div class="span2"><%= item.description %></div>
    <div class="span1"><%= item.code %></div>
    <div class="span1"><%= item.quantity %></div>
    <div class="span1"><%= item.quantity_per %></div>
    <div class="span1"><%= item.total %></div>
    <div class="span1"><%= item.tax_code %></div>
    <div class="span1"><%= item.category %></div>
    <div class="span1"><button>edit</button></div>
  </div>
