<h2>Items</h2>

<div class="row-fluid">
  <div class="span2"><b>Description</b></div>
  <div class="span1"><b>Code</b></div>
  <div class="span1"><b>Quantity</b></div>
  <div class="span1"><b>Units</b></div>
  <div class="span1"><b>Total</b></div>
  <div class="span1"><b>Tax Code</b></div>
  <div class="span1"><b>Category</b></div>
  <div class="span1"><b>buttons</b></div>
</div>

<div class="itemlist">
<% @items.each do |item| %>
  <%= render :partial => 'shared/item', :locals => { :item => item } %>
<% end %>
</div>

<%= form_for(Item.new, :html => {:class => 'form-inline'}, :remote => true) do |f| %>
<%= f.hidden_field :receipt_id, :value => @receipt.id, :class => 'span12' %>
<div class="row-fluid">
  <div class="span2"><%= f.text_field :description, :class => 'span12', :placeholder => 'description' %></div>
  <div class="span1"><%= f.text_field :code, :class => 'span12', :placeholder => 'code' %></div>
  <div class="span1"><%= f.text_field :quantity, :class => 'span12', :placeholder => 'quantity' %></div>
  <div class="span1"><%= f.text_field :quantity_per, :class => 'span12', :placeholder => 'units' %></div>
  <div class="span1"><%= f.text_field :total, :class => 'span12', :placeholder => 'cost' %></div>
  <div class="span1"><%= f.text_field :tax_code, :class => 'span12', :placeholder => 'taxcode' %></div>
  <div class="span1"><%= f.text_field :category, :class => 'span12', :placeholder => 'category' %></div>
  <div class="span1"><%= f.submit :value => "add" %></div>
</div>
<% end %>
