  <tr>
    <th>Code</th>
    <th>Quantity</th>
    <th>Quantity per</th>
    <th>Price</th>
    <th>Price per</th>
    <th>Description</th>
    <th>Total</th>
    <th>Tax code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.code %></td>
    <td><%= item.quantity %></td>
    <td><%= item.quantity_per %></td>
    <td><%= item.price %></td>
    <td><%= item.price_per %></td>
    <td><%= item.description %></td>
    <td><%= item.total %></td>
    <td><%= item.tax_code %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
