  <tr>
    <th>Description</th>
    <th>Code</th>
    <th>Quantity</th>
    <th>Units</th>
    <th>Total</th>
    <th>Tax code</th>
  </tr>

  <tr>
<%= form_for(Item.new) do |f| %>
    <td><%= f.text_field :description, :size => 8 %></td>
    <td><%= f.text_field :code, :size => 8 %></td>
    <td><%= f.text_field :quantity, :size => 8 %></td>
    <td><%= f.text_field :quantity_per, :size => 8 %></td>
    <td><%= f.text_field :total, :size => 8 %></td>
    <td><%= f.text_field :tax_code, :size => 1 %></td>
    <td><%= f.submit :value => "add" %></td>
<% end %>
  </tr>


<% @items.each do |item| %>
  <tr>
    <td><%= item.description %></td>
    <td><%= item.code %></td>
    <td><%= item.quantity %></td>
    <td><%= item.quantity_per %></td>
    <td><%= item.total %></td>
    <td><%= item.tax_code %></td>
  </tr>
<% end %>
