<%- model_class = Receipt -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
total spent to date: <%= number_to_currency @total %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:store) %></th>
      <th>Date</th>
      <th>Items</th>
      <th>Total</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.id %></td>
        <td><%= link_to receipt.store, receipt_path(receipt) %></td>
        <td><%= receipt.date.to_date %></td>
        <td><%= receipt.items.count %></td>
        <td><%= receipt.pretty_total %></td>
        <td><%= time_ago_in_words(receipt.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_receipt_path,
            :class => 'btn btn-primary' %>
