<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @receipt.date.to_date %>
  <b>Store:</b>
  <%= @receipt.store %>
</p>

<p>
  <%= render :partial => 'shared/list' %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
