<p id="notice"><%= notice %></p>

<h1>
  <b><%= @receipt.store %></b>
  <%= @receipt.date.to_date %>
</h1>

<table>
  <%= render :partial => 'shared/list' %>
</table>
<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
